<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <head>
        <%- include("meta"); -%>
        <script src="/lib/js/pace.min.js"></script>

        <link rel="stylesheet" href="/css/loader.css">
        <link rel="stylesheet" href="/css/main.css">

        <% if (status_code !== 200){ %>
        <style data-for="error" type="text/css">
            .error-wrap {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            .error-wrap > h1 {
                font-size: 78px;
                margin: 5px 0;
            }
            .error-wrap > h3 {
                font-size: 24px;
                margin: 15px 0;
            }
        </style>
        <% } %>
    </head>
    <body class="bg-dark <%= !!user ? "" : "no-overflow" %>">
        <header class="shadow-md h-16 w-full flex fixed top-0 left-0 bg-light justify-center z-50">
            <div class="h-container flex relative w-3/4 justify-center w-3/4">
                <div class="w-1/2 relative">
                    <a href="/" class="justify-start text-xl flex h-full items-center text-white transition-300">
                        <img class="h-5/6 w-auto mr-4" src="/img/logo.jpg" alt="disc0rd"> <span class="hover:text-gray-300 hidden md:block text-xl">disc0rd</span>
                    </a>
                </div>
                <div class="w-1/2 relative">
                    <a class="hover:text-gray-300 flex h-full justify-end text-lg" href="<%= !!user ? "/logout" : "/auth" %>">
                        <img class="mt-1 hidden md:block rounded-full flex h-5/6 w-auto mr-4 items-center text-white transition-300" src="<%= (!!user && !!user.avatar) ? `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}` : "/img/user-placeholder.png" %>" alt="User">
                        <span class="hover:text-gray-300 flex h-full items-center transition-300">
                            <%= !!user ? user.username : "Anmelden" %>
                            <% if(!!user){ %>&nbsp;<span class="font-bold hover:text-gray-300"> Ausloggen</span><% } %>
                        </span>
                    </a>
                </div>
            </div>
        </header>
        <section class="mx-auto pt-24 pb-24 w-3/4">