<%
    "use strict";

    // =========================== //
    // = Copyright (c) TheShad0w = //
    // =========================== //

    let year = (new Date()).getFullYear(); 
%>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta name="robots" content="index,follow">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <meta name="apple-mobile-web-app-title" content="disc0rd Auth Bot :: <%= routeTitle %>">
        <meta name="google" value="notranslate">

        <meta content="authenticity_token" name="csrf-param">
        <meta content="<%= csrfToken %>" name="csrf-token">

        <title>disc0rd Auth Bot :: <%= routeTitle %></title>
        <meta name="title" content="disc0rd Auth Bot :: <%= routeTitle %>">
        <meta name="description" content="Auth Bot für den offiziellen pr0gramm Discord Server">
        <meta name="application-name" content="pr0 CMS">
        <meta name="author" content="TheShad0w">
        
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="msapplication-TileImage" content="/favicon.png">
        <meta name="theme-color" content="#ffffff">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="disc0rd Auth Bot :: <%= routeTitle %>">
        <meta name="twitter:description" content="Auth Bot für den offiziellen pr0gramm Discord Server">

        <meta property="og:title" content="disc0rd Auth Bot :: <%= routeTitle %>">
        <meta property="og:description" content="Auth Bot für den offiziellen pr0gramm Discord Server">
        <meta property="og:site_name" content="disc0rd Auth Bot">

        <link rel="canonical" href="https://pr0.link" />
        <link rel="stylesheet" href="/lib/css/tailwind.css">

        <!-- // ================================ // -->
        <!-- // = Copyright (c) <%= year %> TheShad0w = // -->
        <!-- // ================================ // -->

