<%
    "use strict";

    let getRank = function(mark){
        switch (String(mark)){
            case "0":  return "Schwuchtel";
            case "1":  return "Neuschwuchtel";
            case "2":  return "Altschwuchtel";
            case "3":  return "Admin";
            case "4":  return "Gesperrt";
            case "5":  return "Moderator";
            case "6":  return "Fliesentischbesitzer";
            case "7":  return "Lebende Legende";
            case "8":  return "Wichtler";
            case "9":  return "Edler Spender";
            case "10": return "Mittelaltschwuchtel";
            case "11": return "Alt-Moderator";
            case "12": return "Community-Helfer";
            case "13": return "Nutzer-Bot";
            case "14": return "System-Bot";
            case "15": return "Alt-Helfer";
        }
    };
%>
<%- include("../layouts/header"); -%>
    <% if (!!user){
        if (!pr0?.user.name){ %>

        <div class="login-notice absolute bg-light px-4 z-50 shadow-md rounded-md">
            <div class="login-notice-inner text-center absolute">
                <h1 class="text-2xl">Fehler!</h1>
                <h3 class="text-lg">Du scheinst deinen Discord Account noch nicht mit deinem pr0gramm Account verknüpft zu haben.</h3>

                <a class="rounded-md shadow-md bg-discord-blue px-4 py-2 mt-8 inline-block text-white transition-300 cursor-pointer hover:bg-discord-blue-dark whitespace-normal" href="https://pr0gramm.com/discord">Discord- und pr0gramm Account verknüpfen</a>
                <a class="rounded-md shadow-md bg-discord-blue px-4 py-2 mt-8 inline-block text-white transition-300 cursor-pointer hover:bg-discord-blue-dark whitespace-normal" href="/">Die Accounts sind nun verknüpft! (Neu laden)</a>
            </div>
        </div>

        <% }

        else if (!guilds.some(e => e.id === config.auth.server_id)){ %>

        <div class="login-notice absolute bg-light px-4 z-50 shadow-md rounded-md">
            <div class="login-notice-inner text-center absolute">
                <h1 class="text-2xl">Fehler!</h1>
                <h3 class="text-lg">Du scheinst derzeit nicht am disc0rd server zu sein.</h3>

                <a class="rounded-md shadow-md bg-discord-blue px-4 py-2 mt-8 inline-block text-white transition-300 cursor-pointer hover:bg-discord-blue-dark whitespace-normal" href="https://discord.com/invite/5245vVp">Klicke hier um beizutreten</a>
                <a class="rounded-md shadow-md bg-discord-blue px-4 py-2 mt-8 inline-block text-white transition-300 cursor-pointer hover:bg-discord-blue-dark whitespace-normal" href="/">Ich bin nun beigetraten! (Neu laden)</a>
            </div>
        </div>

        <% } 
        
        else { %>
            <% if (synced){ %>
                <div class="rank-was-synced">
                    Deine Discord Rang-Rolle wurde mit deinem pr0gramm Rang synchronisiert. <a id="rank-sync-hide" href="#">&#x2715;</a>
                </div>
            <% } %>
            <div class="logged-in-inner logged-in">
                <div class="w-full md:flex px-4 md:pr-6">
                    <div class="w-full md:w-1/2">
                        <h2 class="text-2xl">pr0gramm</h2>
                        <div class="bg-light mt-8 rounded-md shadow-md p-8 md:h-48 h-auto text-center md:text-left">
                            <span class="pr0-rank" id="um<%= pr0.user.mark %>"><%= pr0.user.name %></span>
                            <p class="mt-6">
                            Rang: <span><%= getRank(pr0.user.mark) %></span>
                            </p>
                            <p class="">
                            Benis: <span><%= pr0.user.score %></span>
                            </p>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 md:pl-6">
                        <h2 class="text-2xl pt-8 md:pt-0">Discord</h2>
                        <div class="bg-light mt-8 rounded-md shadow-md md:flex p-4 md:p-8 md:h-48 h-auto">
                            <div class="w-full md:w-48">
                                <img class="block mx-auto h-full" src="<%= !!user.avatar ? `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}` : "/img/user-placeholder.png" %>" alt="User">
                            </div>
                            <div class="md:pr-0 md:pl-8 w-full md:flex-grow mt-8 md:mt-0 text-center md:text-left">
                                <span class="dc-name text-xl"><%= user.tag %></span>
                                <br>
                                <div class="md:flex">
                                    <div class="relative flex mx-auto md:mx-0 discord-input">
                                        <input type="checkbox" class="duration-300 hover:text-gray-300 cursor-pointer" name="sync-nick" id="sync-nick"<%= dc.nick !== pr0.user.name ? "" : " checked" %>>
                                        <label for="sync-nick"></label>
                                        <span class="discord-tick"></span>
                                    </div>
                                    <label for="sync-nick" class="md:ml-2 block md:inline cursor-pointer">
                                        pr0gramm Namen als Discord Nick setzen 
                                    </label>
                                    <span id="nick-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="#FFF" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"/>
                                        </svg>
                                    </span>
                                </div>
                                <button class="rounded-md shadow-md mt-4 bg-discord-blue text-white px-4 py-2 duration-300 hover:bg-discord-blue-dark" id="resync-nick"<%= dc.nick === pr0.user.name ? "" : ' disabled="true"' %>>Re-Sync</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full px-4">
                    <h2 class="text-2xl pt-8">Rollen</h2>
                    <div class="bg-light md:grid mt-8 grid-rows-3 md:grid-cols-2 lg:grid-cols-5 user-info-dc-rollen justify-between rounded-md shadow-md md:flex p-8">
                        <div class="skeleton w-full h-auto block">
                            <div class="preload-line"></div>
                            <div class="preload-line"></div>
                            <div class="preload-line"></div>
                        </div>
                        <div class="skeleton w-full h-auto block">
                            <div class="preload-line"></div>
                            <div class="preload-line"></div>
                            <div class="preload-line"></div>
                        </div>
                        <div class="skeleton w-full h-auto block">
                            <div class="preload-line"></div>
                            <div class="preload-line"></div>
                            <div class="preload-line"></div>
                        </div>
                        <div class="skeleton w-full h-auto block">
                            <div class="preload-line"></div>
                            <div class="preload-line"></div>
                            <div class="preload-line"></div>
                        </div>
                    </div>
                </div>
                <%#
                <div class="w-full md:w-full mt-8 px-4">
                    <h2 class="text-2xl pt-8 md:pt-0">Geburtstagsrolle</h2>
                    <div class="mt-8 bg-light rounded-md shadow-md p-4 md:p-8 text-center md:text-left">
                        <p class="info">
                            Hier kannst du deinen Geburtstag setzen. Wenn du das tust, bekommst du vom disc0rd-Bot an deinem Geburtstag eine spezielle Rolle zugewiesen, die dich bei den anderen hervorhebt.
                            <br>
                            <b>Achtung:</b> Somit sieht jeder, dass du Geburstag hast! Du kannst deinen Geburstag nur <b>EINMAL</b> setzen. 
                            <br>
                            Allerdings hast du jederzeit die möglichkeit, deinen Geburtstag restlos aus dem System zu löschen. Danach kann das Datum allerdings <b>NICHT</b> erneut gesetzt werden.
                        </p>
                        <div class="mt-4">
                            <input class="w-16 text-center bg-transparent border-b-2 border-dark" placeholder="DD">
                            <input class="w-16 text-center bg-transparent border-b-2 border-dark" placeholder="MM">
                        </div>
                        <button class="rounded-md shadow-md mt-4 bg-discord-blue text-white px-4 py-2">Speichern</button>
                    </div>
                </div>
                %>
   
            </div>
        <% }
    }

    else { %> 
        <div class="login-notice absolute bg-light px-4 z-50 shadow-md rounded-md">
            <div class="login-notice-inner text-center absolute">
                <h1 class="text-2xl">Willkommen</h1>
                <h3 class="text-xl">zum pr0gramm disc0rd panel</h3>

                <a class="rounded-md shadow-md bg-discord-blue px-4 py-2 mt-8 inline-block text-white transition-300 cursor-pointer hover:bg-discord-blue-dark whitespace-normal" href="/auth">Zum fortfahren mit Discord einloggen</a>
            </div>
        </div>
    <% } %>

    <% if (!user || !pr0?.user.name || !guilds.some(e => e.id === config.auth.server_id)) { %>
        <%- include("../layouts/skeleton"); -%>
    <% } %>
<div class="w-full md:h-16"></div>
<%- include("../layouts/footer"); -%>
